body {
  width: 98%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
  
}

code {
  font-family: Georgia, 'Times New Roman', Times, serif
    monospace;
}


.title{
  display: flex;
  justify-content: center;
  background-color: coral;
  padding: 2em;
  border-radius: 120px;
}

#menu{
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  background-color: azure;
  width: auto;
  padding: auto;
  height: 6em;
  font-family: 'Oswald', sans-serif;  
  border-radius: 120px;
}

#foot{
  display: flex;
  justify-content: space-around;
  background-color:coral;
  border-radius: 120px;
}

#font{
  font-size: 1.7em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

